body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

ul, li, a{
    text-decoration: none;
    list-style: none;
}

p{
    margin: 0;
    padding: 0;
}

.header_title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 30px;
    width:auto;
    background: linear-gradient(90.35deg, rgba(17, 24, 39, 2) 0.36%, #D946EF 85.02%);
    color: white;
}

.nav {
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
}
.nav_logo {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav_logo img{
    width: 100px;
}


.search_field {
    display: flex;
    gap: 15px;
}

.search_input{
    display: flex;
    justify-content: end;
    border: 1px solid #F58735;
    border-radius: 10px;
    width: 400px;
}

.search{
    border-radius: 8px;
    width: 390px;
}

.select, .search{
    border:none;    
}
.svg, .svg_icons {
    display: flex;
    justify-content: center;
    color: #000000;
    align-items: center;
}



.iphone_photo{
    width: 20px;
    height: 28px;
}

.svg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.svg_icons{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* end header */

/* begin main aside */

main{
    display: flex;
}

.title {
    font-size: 15px;
}
.inputs {
    display: flex;
    
}

.aside {
    display: flex;
    margin: 50px 25px;
}

.ul_aside{
    margin-left: 10px;
    margin-right: 20px;
}

.form_input{
    font-size: 12px;
    width: 60px;
    height: 15px;
    padding: 5px 8px;
    text-align: center;
}

.form_input:last-child{
    margin-left: 10px;
}

.card{
    margin-bottom: 25px;
    display: flex;
    border: 1px solid rgb(171, 171, 171);
    padding-right: 20px;
}
.card_text h3{
    font-style: 18px;
}
.card_text p{
    max-width: 350px;
}

.svg_img_div{
    padding: 25px;
    margin-right: 25px;
}

.prise{
    display: flex;
    align-items: center;
    gap: 5px;
}
.prise:first-child{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    color: #383838;
}
.dushed{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    text-decoration-line: line-through;
    color: #AAADB2;
}
.prosent{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 13px;
display: flex;
align-items: center;
color: #FFFFFF;
border-radius: 2px;
background-color: green;
}

.product_info{
    margin-top: 3%;
    margin-left: 50px;
}
.product_info button{
    width: 180px;
    
}

.info_text{
    padding:8px 0;
    font-weight: 500;
font-size: 12px;
line-height: 16px;

color: #3BC13D;
}

.seller{
    padding:8px 0;
    color: black;
    display: flex;
    gap: 5px;
}

.seller_text{
        color: #AAADB2;
}

footer{
    background-color: rgb(101, 101, 101);
    color: white;
}

.qr_code{
    background-color: rgb(101, 101, 101);
}

.viza_mc{
    width: 50px;
}

.footer_list{
    display: flex;
    font-size: 14px;
}

.list_last{
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first_div h1,
.second_div h1{
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    padding: 0;
    margin: 0;
    margin-bottom: 38px;
}
.first_div,
.second_div {
    border-radius: 12px;
    padding: 20px;
    /* back 
    ground-color: #adadad; */
}
.first_div{
    margin-bottom: 16px;
}

.white{
    margin: 10px;
    color: black;
    border: 1px solid #000;
    background-color: white;
}
.iterator{
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid #F58735;
    color: #F58735;
    border-radius: 8px;
    height: 45px;
    padding: 0 42px;    
}
.iterator_button{
        color: #f58735;
        border: none;
        padding: 0;
        background-color: white;
        font-size: 16px;
    }
.iterator_p{
    padding:0;
}
.iterator_minuse{
    color: #AAADB2;
}

.product, 
.product_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img_product{
    width: 60px;
    height: 60px;
    margin-right: 12px;
}

.buttons_window{
    font-size: 16px;
    border: #AAADB2 solid 1px;
    border-radius: 8px;
    padding: 12px 40px;
}
.buttons_window:first-child{
    color: white;
    background-color: #f58735;
    border: none;
    padding: 12px 55px;
}
.prise{
    font-size: 32px;
    font-weight: 500;   
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.svg_div{
    display: flex;
    /* justify-content: end; */
}
.svg_div div{
    position: relative;
    top: 8em;
    left: -35px;
    border: #FFFFFF;
}

.infinity_icon{
    padding: 5px;
    background-color: #fff;
    border-radius: 100px;
}

.like_product{

    position: relative;
    top:8em;
    left:1em;
}

.card_bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 216px;
    padding: 0 5px;
}

.card{
    border: 1px solid #b4b4b4;
    border-radius: 12px;
}

.flex_div{
    display: flex;
    border-bottom: 1px solid #b4b4b4;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #F58735;
    border-radius: 8px;     
    border: none;   
    padding: 8px 15px;
    color: white;
}

.svg_icons{
    cursor: pointer;
}

.basket_info{
    margin: 0;
    margin-top: 16px;
    padding: 0;
}

.card_text_h3{
    text-align: start;
    padding-left: 10px;
}

.marginBasket{
    padding: 0 10px;
    padding-left: 0;
    margin-bottom: 15px;
    width: 184px;
    height: 36px;

/* Base/Brand */

background: #F58735;
/* Base/Brand */

border: 1px solid #F58735;
border-radius: 8px;
display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #F58735;
    color: white;
}

.card_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap:12px;
    /* max-width: 1138px; */
}

.button_x{
    border:none;
    background-color: #fff;
    cursor: pointer;
}

.button_x:hover,
.svg_icons:hover{
    background-color: #b1b1b1;
    border-radius: 5px;
    transition: all ease 0.4s;
}

.button_x:hover{
    padding: 5px;
}

.backet_window {
    display: none;
    overflow:scroll;
    height: 100%;
    max-width: 1138px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  }
  