body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

ul, li, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

p{
    margin: 0;
    padding: 0;
}

.dispay_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}